{% extends "base.html" %}


{% block title %}
    {{ config.title }}
{% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="css/documents_collection.css") | safe }}">
{% endblock css %}


{% block content_title %}
{% endblock content_title %}


{% block content_nav %}
{% endblock content_nav %}


{% block prev_btn %}
{% endblock prev_btn %}


{% block content_body %}
    {{ section.content | safe }}
    {% for subsection in section.subsections %}
        {% set section_obj = get_section(path=subsection) %}
        <a href="{{ section_obj.permalink }}">
            {{ section_obj.title }}
        </a>
        <br>
    {% endfor %}
    {% for page_obj in section.pages %}
        <a href="{{ page_obj.permalink }}">
            {{ page_obj.title }}
        </a>
    {% endfor %}
{% endblock content_body %}


{% block next_btn %}
{% endblock next_btn %}


{% block content_aside %}
{% endblock content_aside %}

{% block footer_content %}
{% endblock footer_content %}


{% block js_body %}
{% endblock js_body %}