{% extends "base.html" %}


{% block title %}
    {{ config.title }}
{% endblock title %}

{% block description %}
    {{ section.description }}
{% endblock description%}

{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="css/index.css") | safe }}">
{% endblock css %}


{% block content_nav %}
{% endblock content_nav %}


{% block prev_btn %}
{% endblock prev_btn %}


{% block content_title%}
{% endblock content_title%}

{% block content_body %}
    {{ section.content | safe }}
    <h1>インフォメーション</h1>
    <h2>サイト更新履歴</h2>
    <div class="index_page_information_container">
        {% set info_section = get_section(path="information/_index.md") %}
        {% for page in info_section.pages %}
            {% if loop.index < 6 %}
                <div class="index_page_information">
                    <div class="index_page_information_date">
                        {{ page.date | date(format="%Y/%m/%d") }}
                    </div>
                    <details class="index_page_information_detail">
                        <summary>
                            {{ page.title }}
                        </summary>
                        <div>
                            {{ page.content | safe }}
                        </div>
                    </details>
                </div>
            {% else %}
                {% if loop.index == 6 %}
                    <details class="index_page_information_past_detail">
                        <summary></summary>
                        <br>
                        <div class="index_page_information">
                            <div class="index_page_information_date">
                                {{ page.date | date(format="%Y/%m/%d") }}
                            </div>
                            <details class="index_page_information_detail">
                                <summary>
                                    {{ page.title }}
                                </summary>
                                <div>
                                    {{ page.content | safe }}
                                </div>
                            </details>
                        </div>
                {% else %}
                        <div class="index_page_information">
                            <div class="index_page_information_date">
                                {{ page.date | date(format="%Y/%m/%d") }}
                            </div>
                            <details class="index_page_information_detail">
                                <summary>
                                    {{ page.title }}
                                </summary>
                                <div>
                                    {{ page.content | safe }}
                                </div>
                            </details>
                        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                    </details>
    </div>
    <h2>Zenn投稿</h2>
    <div class="index_page_zenn_updates_container">
        {% set zenn_section = get_section(path="zenn_updates/_index.md") %}
        {% for page in zenn_section.pages %}
            {% if loop.index < 6 %}
                <div class="index_page_zenn_updates_date">
                    {{ page.date | date(format="%Y/%m/%d") }}
                </div>
                <div class="index_page_zenn_updates_content">
                    {{ page.content | safe }}
                </div>
            {% else %}
                {% if loop.index == 6 %}
                    <details class="index_page_zenn_updates_detail">
                        <summary></summary>
                        <br>
                        <div class="index_page_zenn_updates_date">
                            {{ page.date | date(format="%Y/%m/%d") }}
                        </div>
                        <div class="index_page_zenn_updates_content">
                            {{ page.content | safe }}
                        </div>
                {% else %}
                        <div class="index_page_zenn_updates_date">
                            {{ page.date | date(format="%Y/%m/%d") }}
                        </div>
                        <div class="index_page_zenn_updates_content">
                            {{ page.content | safe }}
                        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                    </details>
    </div>
    <h2>note投稿</h2>
    <div class="index_page_note_updates_container">
        {% set note_section = get_section(path="note_updates/_index.md") %}
        {% for page in note_section.pages %}
            {% if loop.index < 6 %}
                <div class="index_page_note_updates_date">
                    {{ page.date | date(format="%Y/%m/%d") }}
                </div>
                <div class="index_page_note_updates_content">
                    {{ page.content | safe }}
                </div>
            {% else %}
                {% if loop.index == 6 %}
                    <details class="index_page_note_updates_detail">
                        <summary></summary>
                        <br>
                        <div class="index_page_note_updates_date">
                            {{ page.date | date(format="%Y/%m/%d") }}
                        </div>
                        <div class="index_page_note_updates_content">
                            {{ page.content | safe }}
                        </div>
                {% else %}
                        <div class="index_page_note_updates_date">
                            {{ page.date | date(format="%Y/%m/%d") }}
                        </div>
                        <div class="index_page_note_updates_content">
                            {{ page.content | safe }}
                        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                    </details>
    </div>
    <h2>Twitter</h2>
    <div class="index_page_twitter_container">
        <a class="twitter-timeline" data-lang="ja" data-width="500" data-height="500" data-dnt="true" data-theme="light" href="https://twitter.com/nazonoobasan407?ref_src=twsrc%5Etfw">
            Tweets by nazonoobasan407
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
    <h1>プロフィール</h1>
    <div class="index_page_profile_container">
        <img src="img/profile_photo.jpg" alt="profile_photo">
        <dl>
            <dt>名前</dt>
            <dd>酒井謎子(Sakai-nako)</dd>
            <dt>出身</dt>
            <dd>京都府</dd>
            <dt>身体的性</dt>
            <dd>男性</dd>
            <dt>性的指向</dt>
            <dd>女性が好き</dd>
            <dt>性自認</dt>
            <dd>Non-binary(Xジェンダー、MtX)</dd>
            <dt>LGBTQ+</dt>
            <dd>Q</dd>
            <dt>職業</dt>
            <dd>ウォーターフォールの中でもがくエンジニア</dd>
        </dl>
    </div>
    <hr>
    <div class="social_link_container">
        <p>lit.link: </p><a rel="noopener noreferrer" target="_blank" href="https://lit.link/sakainako">sakainako</a>
    </div>
{% endblock content_body %}


{% block next_btn %}
{% endblock next_btn %}


{% block content_aside %}
{% endblock content_aside %}

{% block footer_content %}
{% endblock footer_content %}