{% extends "base.html" %}


{% block title %}
    {{ section.title }}
{% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="css/works_collection.css") | safe }}">
{% endblock css %}


{% block json_ld %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% set len = section.ancestors | length %}
        {% for section_path in section.ancestors %}
        {
          {% set section = get_section(path=section_path) %}
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ section.title }}",
          "item": "{{ section.permalink | safe }}"
        },
        {% endfor %}
        {
          "@type": "ListItem",
          "position": {{ len + 1 }},
          "name": "{{ section.title }}",
          "item": "{{ section.permalink | safe }}"
        }
      ]
    }
  </script>
{% endblock json_ld %}


{% block content_title %}
{% endblock content_title %}


{% block content_nav %}
{% endblock content_nav %}


{% block prev_btn %}
{% endblock prev_btn %}


{% block content_body %}
    {{ section.content | safe }}

    <ul>
        {% for work in section.pages %}
            <li><a href="{{ work.permalink }}">{{ work.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content_body %}


{% block next_btn %}
{% endblock next_btn %}


{% block content_aside %}
{% endblock content_aside %}

{% block footer_content %}
{% endblock footer_content %}


{% block js_body %}
{% endblock js_body %}