{% extends "base.html" %}


{% block title %}
    {{ page.title }}
{% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="css/works_single.css") | safe }}">
{% endblock css %}


{% block json_ld %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% set len = page.ancestors | length %}
        {% for section_path in page.ancestors %}
        {
          {% set section = get_section(path=section_path) %}
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ section.title }}",
          "item": "{{ section.permalink | safe }}"
        },
        {% endfor %}
        {
          "@type": "ListItem",
          "position": {{ len + 1 }},
          "name": "{{ page.title }}",
          "item": "{{ page.permalink | safe }}"
        }
      ]
    }
  </script>
{% endblock json_ld %}


{% block body%}
{% endblock body%}


{% block content_title %}
{% endblock content_title %}


{% block content_nav %}
{% endblock content_nav %}


{% block prev_btn %}
{% endblock prev_btn %}


{% block content_body %}
    <h2 class="work_title">{{ page.title }}</h2>
    <img class="work_thumbnail" src="{{ config.base_url }}/img/{{ page.extra.thumbnail }}" >
    <div class="work_caption">
        <ul>
            <li>
                release: {{ page.extra.release_date }}
            </li>
            <li>
                price: {{ page.extra.price }}
            </li>
        </ul>
        <div class="work_caption_description">
            {{ page.content | safe }}
        </div>
        <br>
        <a class="work_kindle_link" rel="noopener noreferrer" target="_blank" href="{{ page.extra.kindle_link }}">Kindle版のリンク</a>
    </div>
{% endblock content_body %}


{% block next_btn %}
{% endblock next_btn %}


{% block content_aside %}
{% endblock content_aside %}

{% block footer_content %}
{% endblock footer_content %}


{% block js_body %}
{% endblock js_body %}
